<h1>Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
    <a href="/bookings/<%= booking.id %>">
      Reservador: <%= booking.user %> |
      Asientos: <%= booking.seats %>
    </li>
  <% end %>
</ul>
